// https://github.com/WordPress/gutenberg/blob/trunk/packages/edit-post/src/components/header/style.scss

/*
There is no special CSS. Pay attention only to InserterButton's SVG CSS.
*/


@import '@wordpress/base-styles/variables';
@import '@wordpress/base-styles/mixins';
@import '@wordpress/base-styles/breakpoints';


// equal to 
// .interface-interface-skeleton__header: https://github.com/WordPress/gutenberg/blob/cdeca67b63635cca295ba8f4874130c53f394ab0/packages/interface/src/components/interface-skeleton/style.scss#L139
//  and .edit-post-header: https://github.com/WordPress/gutenberg/blob/cdeca67b63635cca295ba8f4874130c53f394ab0/packages/edit-post/src/components/header/style.scss#L1
.edit-post-header {
	border-bottom: 1px solid #e0e0e0;
	color: #1e1e1e;
	flex-shrink: 0;
	height: auto;
	z-index: 30;

	height: 60px;
	background: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	// The header should never be wider than the viewport, or buttons might be hidden. Especially relevant at high zoom levels. Related to https://core.trac.wordpress.org/ticket/47603#ticket.
	max-width: 100vw;
}


/*=============================================
=            Custom CSS from here            =
=============================================*/

// https://github.com/WordPress/gutenberg/blob/702fd1b77504a7999c4f8bc0cd0abecfe99b0358/packages/edit-post/src/components/header/header-toolbar/style.scss#L14
.inserter-toggle-button {
	display: inline-flex;

	svg {
		transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
		@include reduce-motion("transition");
	}

	&.is-pressed {
		svg {
			transform: rotate(45deg);
		}
	}
}
/*=====  End of Custom CSS from here  ======*/

